/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  html {
    scrollbar-width: none;
  }
  
  /* For Edge and IE */
  body {
    -ms-overflow-style: none;
  }

body {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    background-color: black;
    background: radial-gradient(circle 900px at 110% 1300px, rgb(232, 28, 37), black);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 90px;
    background-color: black;
}

header img {
    width: 90px;
    height: 90px;
    margin-left: 100px;
}

header a {
    color: aliceblue;
    font-size: medium;
    font-weight: bold;
}

header #headerTexts {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    margin-right: 100px;
}

header #headerTexts #newtreh {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(232, 28, 37);
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#main #mainEhlel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 700px;
}

#main #mainEhlel #texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}

#main #mainEhlel #texts > a {
    color: aliceblue;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

#main #mainEhlel #texts #towchnuud {
    display: flex;
    flex-direction: row;
    width: 350px;
    margin-top: 20px;
    justify-content: space-between;
}

#main #mainEhlel #texts #towchnuud .towch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(232, 28, 37);
}

#main #mainEhlel #texts #towchnuud .towch a {
    font-size: medium;
    font-weight: bold;
    color: aliceblue;
}

#main #mainEhlel img {
    width: 700px;
    height: 700px;
    transform: rotate(-17deg) translateX(100px);
    transition: transform 0.3s ease-in-out;
}

#main #aboutUs {
    height: 900px;

    display: flex;
    width: 100%;
    margin-top: 80px;
}

#main #aboutUs #aboutUsPane {
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid rgb(139, 114, 114);
    border-left: none;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    background-color: rgb(225, 225, 225, 0.1);
}

#main #aboutUs #aboutUsPane img {
    margin-left: 50px;
    width: 500px;
    height: 300px;
    border: 2px solid rgb(139, 114, 114);
    border-radius: 18px;
}

#main #aboutUs #aboutUsPane #texts {
    color: aliceblue;
    margin-left: 100px;
}